.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;
    margin:0rem 2rem;
    min-height:50px;
    border-top: 1px solid #444;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
