.item{
    width: 250px;
    height: 30px;
    padding-top: 10px;
    margin-top: 10px;
    border-style: solid;
    border-radius: 0.5rem;
    border-color: #4CA07A;
    background-color: white;
    text-align: start;
}


.notItem{
    width: 250px;
    height: 30px;
    padding-top: 10px;
    margin-top: 10px;
    border-style: solid;
    border-radius: 0.5rem;
    border-color: #7e7e7e;
    background-color: white;
    text-align: start;
}