.form button{
    background-color: #2CD889;
    color: white;
    width: 100%;
    font-size: 1.7rem;
    margin:0;
    border-style: none;
    padding:0.8rem;
}

.form{
    padding-top: 1rem;
    border-radius: 6;
    margin: 10% auto;
    width: 30%;
    height: 400px;
    border: 3px dashed green;
    border-radius: 1rem;
    text-align: center;
}

.form img{
    margin-top: 2rem;
    width: 10%;
}


.username input{
    margin-top: 3rem;
    width: 99%;
    border-style: none;
    text-align: center;
    border-bottom: black solid;
    font-size: 1.5rem;
}

.date label{
    border-style: none;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
}

.date{
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 100%;
    border-bottom: black solid;
}

.calender{
    position: absolute;
    right:7%;
    top:55%;
    box-shadow: 4px 4px #d3d3d3;
    border-radius: 1rem;
}

.calender button{
    color: black;
    font-size: 1rem;
}