.header {
    width: 100%;
    height: 10rem;
    display: inline-block;
    padding:0rem 3.5rem;
  }
  
  .logo {
    font-size: 2rem;
    color: black;
  }
  

  .top{
    padding:2.5rem;
    display: flex;
    justify-content: space-between;
    color: black;
  }

  
  

  
  
